*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
html,body {
    margin: 0;
    padding: 0;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  a{
    text-decoration: none;
    color: white;
    margin: 1vw;
    font-size: 1vw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    
  }

img#nice {
    height: 6vw;
    margin:1vw 30vw  0vw 18vw ;
}
#hero {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(25%);
}
#bruh{
    color: white;
    font-size: 3vw;
    margin: 10vw 0vw 0vw 18vw ;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}
#bt1{
    margin:1vw 0 0 18vw;
}
button{
    border-radius: 4cm;
    padding:0.6vw 2vw 0.6vw 2vw;
    border: solid 1px orange;
    margin: 1vw;
    font-size: 1vw;
}
#bt1{
    color: orange;
    background:none ; 
}
#bt2{
    color: orange;
    background: none; 
}
#bt1:hover{
    background-color: orange;
    color: white;
}
#bt2:hover{
    background-color: orange;
    color: white;
}
.part1{
    margin-bottom: 25vw;
  }
h1.hi{
    text-align: center;
    font-size: 2vw;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    margin-bottom: 2vw;
    
}
#iuem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2vw;
    margin-top: none;
    height: 0.2vw;
    margin-bottom: 2vw;
}
#pre1{
    text-align: center;
    color: gray;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    margin-bottom: 2vw;
}
.doanchu{
    float: left;
    display: block;
    margin: 16px;
   
}
.bieutuong{
    height: 5vw; 
    margin:auto;  
}
.pre2{
    font-family: 'Lato', 'Arial', sans-serif;;
    font-weight: 300;  
}
.idontknowyet{
   
    justify-content: center;
    display: flex;
}
h3{
    font-weight: 300;
    font-size: 130%;
}
.part2{
    margin-bottom:5vw ;
}
.pictures{
    display: flex;
    text-align: justify;

}
img.foodpic{
filter: brightness(75%);
border: 0;
}
.meals-showcase {
   list-style: none;
   width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
   
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s; 
    opacity :0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}
.section-meals {
    padding: 0;
    
}
.part3{
    margin-bottom: 28vw;
}
#h2lan1{
   text-align: center;
   font-family: 'Lato', 'Arial', sans-serif;
   font-weight: 300;
   font-size: 180%;
   font-size: 180%;
   word-spacing: 2px;
   margin-bottom: 30px;
   letter-spacing: 1px;
}
#iphone{
   margin: 5vw 0 0 31vw;
  
}
#iphonepic{
    height:30vw;
    float: left;

}
.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}
.cacbuoc{
    margin-left: 100px
}
.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 1.5vw;
    margin-left: 7vw;
    margin-top: 2vw;
   
}
.exe{
    padding-top: 2vw;
}
.btn-app:link,
.btn-app:visited {
    border: 0;
}

#hello {
    height: 3.5vw;
    width: auto;
    margin-bottom: 0.7vw;

  
}
#zello{
    height: 5vw;
    width: auto;
    padding: 2px;
    margin-right: 0;
}
.part4{
    margin-bottom: 10vw;
    background-color: #f2f2f2;
    padding:20vw 0 6vw 0;
}
.row{
display: flex;
float: left;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
#ishowspeed{
    font-weight: 300;
}
.orange_line{
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}
.anhthanhpho{
    height: 12vw;

}
.nhungthanhpho{
    display: flex;
    justify-content: space-around;
}
.part5{
    margin-bottom: 10vw;
}
.fax{
    display: flex;
    justify-content: center;
    margin-bottom: 6vw;
}
.customer{
    display: flex;
    justify-content: space-around;
}
.customer_pic{
    height: 2vw;
    border-radius: 50%;
    width: auto;
}
.part6{
    margin-bottom: 5vw;
}
.mu{
    padding-top: 4vw; ;   
    text-align: center;
    font-size: 2vw;
}

.ctrlv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
}
.discount{
    display: flex;
    justify-content: space-around;
}
#tnt{
    margin-left: 20vw ;
}
#ntn{
    margin-right: 20vw ;
}
.tien{
    font-size: 300%;
    margin: 0.5vw 1vw 0.5vw 1vw;
    font-weight: 100;
    color: #e67e22;
}
.tien span {
    font-size: 30%;
    font-weight: 300;
}
.ultr{
    list-style-image: url('Omni Page/checkmark-8.ico');
    font-family: 'Lato', 'Arial', sans-serif;
}
.combo{
   background-color: #fcfcfc;
   margin-bottom: 5vw;
   
}
.plan_btn{
    background-color: #fcfcfc;
    color: #e67e22;
    margin-left: 3.5vw;
    margin-top: 0;
    margin-bottom: 0.7vw;
    font-weight: 300;
}
div.ultr{
    margin: 0.5vw 0  0.6vw 0;
    border: solid #f4f4f4 1px;
    border-left: none;
    border-right: none;
    padding:1vw 2vw 1vw 2vw ;
    background-color: #ffffff;
}

.phancap{
    margin-top: 1vw;
    margin-left: 1vw;
    font-weight: 300;
}
.giaithich{
    margin-left:1vw ;
}
.plan_btn:hover{
    color: white;
    background-color: #e67e22;
}
.part7{
    background-color: #f4f4f4;
    margin-bottom: 4vw; 
}
.ultr li{
    margin:0.5vw 0 0.5vw 0 ;
    padding-left: 1vw;
}
#autocad{
 font-weight: 300;
 font-family: 'Lato', 'Arial', sans-serif;
}
.jbc{
    text-align: end;
    margin-right:10vw;
    font-weight: 300;

}
.ariana{
    display: block;
    margin-left: 68vw;
    margin-right: auto;
    width: 9vw;
    margin-top: 1vw;
    margin-bottom: 3vw;   
}
.vaofacebooklikeanht{
 margin-left: 50vw;
}
label {
    cursor: default;
}
#name{
    width: 30vw;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0 0 0.5vw 15vw;
    color: #cdcdcd;
    height: 2.5vw;
    
}
#email{
    width: 30vw;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.25;
    margin: 0 0 0 15.25vw;
    color: #cdcdcd;
    height: 2.5vw;
}
#find-us{
    width: 30vw;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0.5vw 0 0 8.25vw;
    overflow: visible;
    padding-right: 1vw;

}
.find-us{
    margin-top: 1vw;
    margin-left: 50vw;
   }
.amongus{
    margin-top: 1vw;
    margin-left: 50vw; 
}
#newsletter{
    margin-top: 1vw;
    margin-left: 12vw;
    margin-bottom: 1.5vw;
    margin-right: 0.25vw;
}

#ratchilacodon{
    margin-left: 50vw;
    margin-right: 11.5vw;
    vertical-align: top;   
}

textarea{
    width: 30vw;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 5vw;
    font-family: inherit;
    font-size: 100%;
}
.sendit{
    background-color: #e67e22;
    color: white;
    margin-left: 68vw;
    margin-top: 1vw;
    margin-bottom: 0.7vw;
    font-weight: 300;
    background-color: #e67e22;
    border: 1px solid #e67e27;
    color: #fff;
    font-family: inherit;
}
.part8{
    margin-bottom: 5vw;
    background-color: #ffffff;
}
.ugotmechimsau{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    list-style: none;    
    margin-right: 1vw;
   
    padding-bottom: 3vw ;
}
.mck{
    display: flex;
    justify-content: baseline;
    margin-left: 15vw;
    padding-top: 3vw;
}
.quanhanh{
    background-color: #333333;
}
.sogiayphutkhongthanh{
    list-style-type:none ;
    margin-right: 1vw;
    display: inline-block;
}
#iherewhenilookatu{
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-bottom: 0.5vw;
    color: #888;
}
#youcame{
    text-align: center;
    padding-bottom: 4vw;
    color: #888;
}

