*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
html,body {
    margin: 0;
    padding: 0;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }
  
  a{
    text-decoration: none;
    color: white;
    margin: 1vw;
    font-size: 1vw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    
  }

img#nice {
    height: 6vw;
    margin:1vw 30vw  0vw 18vw ;
}
#hero {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(25%);
}
#bruh{
    color: white;
    font-size: 3vw;
    margin: 10vw 0vw 0vw 18vw ;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}
#bt1{
    margin:1vw 0 0 18vw;
}
button{
    border-radius: 4cm;
    padding:0.6vw 2vw 0.6vw 2vw;
    border: solid 1px orange;
    margin: 1vw;
    font-size: 1vw;
}
#bt1{
    color: white;
    background-color: orange; 
}
#bt2{
    color: orange;
    background: none; 
}
.part1{
    margin-bottom: 25vw;
  }
h1.hi{
    text-align: center;
    font-size: 2vw;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-bottom: 2vw;
    
}
#iuem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2vw;
    margin-top: none;
    height: 0.2vw;
    margin-bottom: 2vw;
}
#pre1{
    text-align: center;
    color: gray;
    font-family: 'Anek Malayalam', sans-serif;
    font-weight: 700;
    margin-bottom: 2vw;
}
.doanchu{
    float: left;
    display: block;
    margin: 16px;
   
}
.bieutuong{
    height: 5vw; 
    margin:auto;  
}
.pre2{
    font-family: 'Lato', 'Arial', sans-serif;;
    font-weight: 300;  
}
.idontknowyet{
   
    justify-content: center;
    display: flex;
}
h3{
    font-weight: 300;
    font-size: 130%;
}
.part2{
    margin-bottom:5vw ;
}
.pictures{
    display: flex;
    text-align: justify;

}
img.foodpic{
filter: brightness(75%);
border: 0;
}
/* img{
    height: 16vw;
    width: auto;
} */
.meals-showcase {
   list-style: none;
   width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
   
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s; 
    opacity :0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}
.section-meals {
    padding: 0;
    
}
.part3{
    margin-bottom: 28vw;
}
#h2lan1{
   text-align: center;
   font-family: 'Lato', 'Arial', sans-serif;
   font-weight: 300;
   font-size: 180%;
   font-size: 180%;
   word-spacing: 2px;
   margin-bottom: 30px;
   letter-spacing: 1px;
}
#iphone{
   margin: 5vw 0 0 31vw;
  
}
#iphonepic{
    height:30vw;
    float: left;

}
.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}
.cacbuoc{
    margin-left: 100px
}
.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 1.5vw;
    margin-left: 7vw;
    margin-top: 2vw;
   
}
.exe{
    padding-top: 2vw;
}
.btn-app:link,
.btn-app:visited {
    border: 0;
}

#hello {
    height: 3.5vw;
    width: auto;
    margin-bottom: 0.7vw;

  
}
#zello{
    height: 5vw;
    width: auto;
    padding: 2px;
    margin-right: 0;
}
.part4{
    margin-bottom: 10vw;
    background-color: #f2f2f2;
    padding:20vw 0 6vw 0;
}
.row{
display: flex;
float: left;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
#ishowspeed{
    font-weight: 300;
}
.orange_line{
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}
.anhthanhpho{
    height: 10vw;

}
.nhungthanhpho{
    display: flex;
    justify-content: space-around;
}
.part5{
    margin-bottom: 10vw;
}
.fax{
    display: flex;
    justify-content: center;
    margin-bottom: 6vw;
}
.customer{
    display: flex;
    justify-content: space-around;
}
.customer_pic{
    height: 2vw;
    border-radius: 50%;
    width: auto;
}
.part6{
    margin-bottom: 12vw;
}